
.hero {
  background: url(../../img/hero.png) center center / cover no-repeat;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  }
  
  
.hero__text-section {
  width: 36%;
}

.hero__header {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.hero-container {
  display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 652px;
  
}

.hero__motto {
  margin-bottom: 39px;
  font-weight: 400;
  font-size: 21px;
}

.benefits {
  padding-bottom: 65px;
  width: 60%;

  &__text {
    font-size: 16px;
    font-weight: bold;
    width: 50%;
    display: flex;
  justify-content: space-between;
  }

  &__list {
    display: flex;
  }

  &__item {
    display: flex;
    margin-right: 30px;
    align-items: center;
  }

  &__item:last-child {
    margin-right: 0;
}
  
  &__icon {
    margin-right: 11px;
  display: flex;
  justify-content: space-between;
  }
}

.features {
  color: #292929;
  display: flex;
  min-height: 652px;
  padding: 103px;
  text-align: center;

 &__subtitle {
   margin-bottom: 17px;
 }
&__icon {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  overflow: hidden;
  
  
}
&__properties {
  display: flex;
  justify-content: space-between;
  font-size: 27px;
  font-weight: bold;
  margin-bottom: 20px;
  justify-content: center;
}

&__description {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #666666;
  font-weight: 300;
}
  &__header {
    
    margin-bottom: 49px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
    margin-right: 53px;
    align-items: center;
    text-align: center;
  }

  &__item:last-child {
    margin-right: 0;
  }
  &__text {
font-size: 18px;
color: #666666;
  }
  &__tblock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
}

.subtitle {
  font-size: 48px;
  font-weight: bold;
  color: #292929;
  text-transform: uppercase;
  text-align: center;
}

.reviews {
  display: flex;
  min-height: 652px;

  &__card {
background: #F8FAF9;
display: flex;
padding: 42px;
padding-right: 142px;


  }
  &__name {
    color:#292929;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 14px;

  }

  &__text {
    margin-bottom: 25px;
  }

  &__author {
    font-weight: 500;
    color:#292929;

  }
  &__avatar {
    width: 75%;
    margin-right: 40px;
  }
}