
$containerWidth: 940px;
$baseFontSize: 18px;

//breakpoints 

$tablets: 768px;
$phones: 480px;
$phones440: 440px;


// colors
$black: #292929;
$grey: #666666;
$lightgrey: #F8FAF9;
$mustard: #FFD517;

//z-index positions
$z-fixed-menu: 100;

@import "_media";

// normalize
@import url('./css/layout/normalize.css');

// setups
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800;900&display=swap');
@import "./components/_layout.scss";





// components 
@import "./components/_features.scss";
@import "./components/_feature.scss";
@import "./components/_header.scss";
@import "./components/_hero.scss";
@import "./components/_menu.scss";
@import "./components/_button.scss";
@import "./components/_section.scss";
@import "./components/_benefits.scss";
@import "./components/_benefit.scss";
@import "./components/_reviews.scss";
@import "./components/_interactive-avatar.scss";
@import "./components/_form.scss";
@import "./components/_form-controls.scss";
@import "./components/_radio.scss";
@import "./components/_fixed-menu.scss";
@import "./components/_map.scss";
@import "./components/_footer.scss";
@import "./components/_social.scss";
@import "./components/_contacts.scss";
@import "./components/_hamburger.scss";
@import "./components/_products.scss";
@import "./components/_dropdown.scss";
@import "./components/_team.scss";
@import "./components/_modal.scss";
@import "./components/_player.scss";
@import "./components/_products-menu.scss";



