@import url("./css/layout/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;500;700;800;900&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 15.7px;
  }
}
@media screen and (max-width: 320px) {
  html {
    font-size: 11.4px;
  }
}

body {
  font-family: "Alegreya Sans", sans-serif;
  color: #666666;
  line-height: 1.42;
  background: #FFFFFF;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.container {
  margin: 0 auto;
  width: 95%;
  max-width: 940px;
  position: relative;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .features {
    display: none;
  }
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.features__item {
  margin-right: 33px;
}
.features__item:last-child {
  margin-right: 0;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.feature__icon {
  width: 34px;
  margin-right: 14px;
}

.feature__text {
  font-size: 16px;
  max-width: 90px;
}

.feature__icon-svg {
  fill: white;
  width: 35px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 1%;
}
@media screen and (max-width: 768px) {
  .header {
    background: #1968B1;
    padding: 0 3%;
    height: 5.0555555556rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .header {
    background: #1968B1;
    padding: 0 3%;
    height: 5.0555555556rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media screen and (max-width: 320px) {
  .header {
    background: #1968B1;
    padding: 0 3%;
    height: 5.0555555556rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 768px) {
  .header .header__phone-number {
    display: none;
  }
}

.header .phone-number__icon {
  fill: white;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding-top: 1.3333333333rem;
  padding-bottom: 3.6111111111rem;
}
@media screen and (max-width: 768px) {
  .hero__container {
    padding-top: 0;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .hero__container {
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .hero__container {
    width: 100%;
  }
}

.logo {
  display: block;
  top: 1.6111111111rem;
  left: 0;
  max-width: 4.7222222222rem;
}

.hero {
  background: url("./img/hero2.jpg") center center/cover no-repeat;
  background-color: #1968B1;
  height: 100vh;
  color: #fff;
}

.hero__text-section {
  width: 41%;
}
@media screen and (max-width: 768px) {
  .hero__text-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.hero__header {
  font-size: 2.6666666667rem;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 768px) {
  .hero__header {
    padding: 0 2%;
  }
}
@media screen and (max-width: 480px) {
  .hero__header {
    line-height: 1;
    padding: 0 1%;
  }
}

.hero__motto {
  font-size: 1.1666666667rem;
  font-weight: 400;
  margin-bottom: 2.6111111111rem;
}

.menu {
  padding-top: 4px;
  margin: 0 30px;
}
@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu__item {
  margin-right: 1.2222222222rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-weight: 700;
  text-decoration: none;
  white-space: nowrap;
}

.button {
  font-size: 0.8888888889rem;
  font-weight: 800;
  border-radius: 5.5555555556rem;
  text-transform: uppercase;
  padding: 1.1666666667rem 2.2777777778rem;
  line-height: 1;
}
@media screen and (max-width: 480px) {
  .button {
    padding: 21px 36px;
  }
}

.hero__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button--color--yellow {
  background: #FEDB3F;
  color: #000000;
}
.button--color--yellow:hover {
  background: #000000;
  color: #FEDB3F;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.button--color--transparent {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  text-transform: none;
  background: none;
  padding: 1.1666666667rem 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .button--color--transparent {
    padding: 1.1666666667rem 1.3333333333rem;
  }
}
.button--color--transparent:hover {
  color: #FFD517;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.button--color--mustard {
  background: #FFD517;
}
.button--color--mustard:hover {
  background: #000000;
  color: #FFD517;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media screen and (max-width: 768px) {
  .form__buttons .button {
    margin-right: 0.8333333333rem;
  }
  .form__buttons .button:last-child {
    margin-right: 0;
  }
}

.section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  margin-bottom: 1.7222222222rem;
  color: #292929;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .section__title {
    margin-bottom: 1.4444444444rem;
  }
}

.headline {
  text-align: center;
  margin-bottom: 2.7222222222rem;
}
@media screen and (max-width: 480px) {
  .headline {
    margin-bottom: 3.4444444444rem;
  }
}

.headline__title {
  margin-bottom: 0.6111111111rem;
}
@media screen and (max-width: 480px) {
  .headline__title {
    margin-bottom: 0.2222222222rem;
  }
}

.headline__subtitle {
  padding: 0 27%;
  font-weight: 400;
}
@media screen and (max-width: 480px) {
  .headline__subtitle {
    padding: 0 3%;
  }
}

.order__section {
  background: url(./img/formbg.jpg) center center/cover no-repeat;
  background-color: #2B2B2B;
  color: #FFFFFF;
}
.order__section .section__title {
  color: #FFFFFF;
  margin-bottom: 2.8888888889rem;
}
@media screen and (max-width: 768px) {
  .order__section .section__title {
    margin-bottom: 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .order__section .section__title {
    margin-bottom: 1.6666666667rem;
  }
}

.benefits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 480px) {
  .benefits {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  position: relative;
  margin-bottom: 1.7222222222rem;
}
@media screen and (max-width: 480px) {
  .benefits__item {
    padding: 0;
    margin-bottom: 2.8333333333rem;
  }
}
.benefits__item:before {
  content: url("./img/separatordots.png");
  position: absolute;
  top: 3.1666666667rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}
@media screen and (max-width: 768px) {
  .benefits__item:before {
    display: none;
  }
}
.benefits__item:first-child {
  padding-left: 0;
}
.benefits__item:last-child {
  padding-right: 0;
  margin-bottom: 0;
}
.benefits__item:last-child:before {
  display: none;
}

.benefit {
  text-align: center;
}
@media screen and (max-width: 480px) {
  .benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
  }
}

.benefit__image-wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .benefit__image-wrapper {
    margin-bottom: 0.8333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__image-wrapper {
    margin-bottom: 0;
    margin-right: 0.6666666667rem;
  }
}

.benefit__icon {
  width: 3.7777777778rem;
  height: 3.6111111111rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__desc {
  font-weight: 300;
}

.benefit__title {
  color: #292929;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.8888888889rem;
}
@media screen and (max-width: 768px) {
  .benefit__title {
    margin-bottom: 0.3888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .benefit__title {
    margin-bottom: 0.5rem;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 2.1666666667rem;
  margin-bottom: 0.8333333333rem;
}
@media screen and (max-width: 768px) {
  .reviews__display {
    padding-top: 3.1111111111rem;
    padding-bottom: 1.7222222222rem;
    margin-bottom: 1.6111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__display {
    padding-top: 3.1111111111rem;
    padding-bottom: 1.7222222222rem;
    margin-bottom: 1.6111111111rem;
  }
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
}
@media screen and (max-width: 768px) {
  .reviews__avatar {
    width: 130px;
    height: 130px;
    margin-bottom: 1.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .reviews__avatar {
    width: 130px;
    height: 130px;
    margin-bottom: 1.5rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  width: 54%;
  margin-left: 2.2222222222rem;
  padding: 1.4444444444rem 0;
}
@media screen and (max-width: 768px) {
  .reviews__content {
    margin-left: 0;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .reviews__content {
    width: 100%;
    padding: 0;
  }
}

.reviews__title {
  font-size: 1.5rem;
  font-weight: 700;
  color: #292929;
  margin-bottom: 0.4444444444rem;
}
@media screen and (max-width: 480px) {
  .reviews__title {
    margin-bottom: 0.6666666667rem;
  }
}

.reviews__text {
  font-weight: 400;
  margin-bottom: 1.1111111111rem;
  line-height: 1.3;
}
@media screen and (max-width: 480px) {
  .reviews__text {
    margin-bottom: 0.8888888889rem;
  }
}

.reviews__author {
  font-weight: 500;
  font-size: 1rem;
  color: #292929;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 4.6666666667rem;
  height: 4.6666666667rem;
  border: 0.3333333333rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.interactive-avatar--active {
  border-color: #FEDB3F;
}
.interactive-avatar:hover {
  border-color: #FEDB3F;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 19%;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 1.5rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
    margin-bottom: 0.7222222222rem;
  }
  .form__col:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .form__col {
    margin-bottom: 1rem;
  }
  .form__col:last-child {
    margin-bottom: 0;
  }
}
.form__col:last-child {
  margin-right: 0;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.2777777778rem;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .form__row {
    margin-bottom: 1rem;
  }
}
.form__row:last-child {
  margin-bottom: 0;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.9444444444rem;
}
.form__block:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1.0555555556rem 0.6666666667rem;
  border: solid 0.1666666667rem transparent;
  border-radius: 0.2222222222rem;
}
@media screen and (max-width: 768px) {
  .form__input {
    padding: 0.4444444444rem 0.5555555556rem;
  }
}
.form__input--textarea {
  height: 8.4444444444rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.5555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .form__input--textarea {
    height: 5rem;
  }
}
.form__input:focus {
  border-color: #FEDB3F;
  outline: none;
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media screen and (max-width: 768px) {
  .form__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .form__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1rem;
}
.form__controls:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .form__controls {
    margin-bottom: 1rem;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 1rem;
  }
}

.form__controls-container {
  margin-top: 1.7222222222rem;
  margin-bottom: 2.5555555556rem;
}
@media screen and (max-width: 768px) {
  .form__controls-container {
    margin-top: 1.2777777778rem;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.6666666667rem;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
  .radio:last-child {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .radio {
    margin-bottom: 0.5555555556rem;
  }
  .radio:last-child {
    margin-bottom: 0;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0.2222222222rem;
}
.radio--checkbox .radio__visible::before {
  background: url(./img/checked.png) center center no-repeat;
}
.radio:last-child {
  margin-right: 0;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  position: relative;
  border-radius: 50%;
  background: #FFFFFF;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  background: #FEDB3F;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu {
  position: fixed;
  top: 30%;
  right: 3%;
  z-index: 100;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu__item {
  margin-bottom: 0.6666666667rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__link {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.0555555556rem solid transparent;
  display: block;
  position: relative;
}
.fixed-menu__link::before {
  display: block;
  content: "";
  width: 0.4444444444rem;
  height: 0.4444444444rem;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.fixed-menu__item--active .fixed-menu__link {
  border-color: #ffffff;
}

.map-section {
  background: url("./img/map.svg") center center/cover no-repeat;
}

.footer {
  background: white;
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 93px;
  position: absolute;
  bottom: 0;
}
@media screen and (max-width: 480px) {
  .footer {
    height: 151px;
  }
}
@media screen and (max-width: 320px) {
  .footer {
    height: 151px;
  }
}
.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 320px) {
  .footer__container {
    padding: 0;
  }
}

.phone-icon {
  width: 13px;
  height: 13px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}
@media screen and (max-width: 480px) {
  .social {
    margin-top: 0;
  }
}
@media screen and (max-width: 320px) {
  .social {
    margin-top: 0;
  }
}

.social__item {
  margin-right: 14px;
}
.social__item:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .social__item {
    margin-top: 0;
  }
}
@media screen and (max-width: 480px) {
  .social__item {
    margin-right: 17px;
  }
}

.fb-icon, .insta-icon {
  width: 20px;
  height: 20px;
  fill: #B3B3B3;
}

.vk-icon {
  width: 20px;
  height: 11px;
  fill: #B3B3B3;
}

.tw-icon {
  width: 20px;
  height: 17px;
  fill: #B3B3B3;
}

.vk-icon:hover, .tw-icon:hover, .insta-icon:hover, .fb-icon:hover {
  fill: #000000;
  -webkit-transition: 0.9s;
  transition: 0.9s;
}

.contacts {
  font-size: 21px;
  font-weight: 400;
  color: #292929;
  font-style: normal;
}
@media screen and (max-width: 480px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 9px;
  }
}

.phone-number {
  font-size: 1.2222222222rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.phone-number__text {
  white-space: nowrap;
}
.phone-number__img {
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  margin-right: 0.3333333333rem;
}

.phone-number__icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 7px;
}

@media screen and (max-width: 480px) {
  .contacts__text {
    margin-bottom: 0.6666666667rem;
  }
}

.hamburger {
  width: 26px;
  height: 24px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 3%;
  right: 5%;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}
@media screen and (max-width: 480px) {
  .hamburger {
    right: 3%;
  }
}
@media screen and (max-width: 320px) {
  .hamburger {
    top: 2%;
    right: 3%;
  }
}

.hamburger__line {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}