.benefit {
text-align: center;

@include phones {
  display: flex;
  text-align: left;
}
}

.benefit__image-wrapper {
  display: inline-flex;
  width: rem(128px);
  height: rem(128px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: rem(5px);

  @include tablets {
    margin-bottom: rem(15px);
  }

  @include phones {
    margin-bottom: 0;
    margin-right: rem(12px);
  }
}

.benefit__icon {
  width: rem(68px);
  height: rem(65px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  
 
    .benefit__desc {
font-weight: 300;
    }

    .benefit__title {
color: $black;
font-weight: 700;
font-size: rem(27px);
margin-bottom: rem(16px);

@include tablets {
  margin-bottom: rem(7px);
}

@include phones {
  margin-bottom: rem(9px);
}

    }