.benefit {
text-align: center;
}

.benefit__image-wrapper {
  display: inline-flex;
  width: rem(128px);
  height: rem(128px);
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: rem(5px);
}

.benefit__icon {
  width: rem(68px);
  height: rem(65px);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

  .thin--icon {
    width: rem(44px); }
 
    .benefit__desc {
font-weight: 300;
    }

    .benefit__title {
color: $black;
font-weight: 700;
font-size: rem(27px);
margin-bottom: rem(16px);
    }