.button {
  font-size: rem(16px);
  font-weight: 800;
  border-radius: rem(100px);
  text-transform: uppercase;
  padding: rem(21px) rem(41px);
  line-height: 1;

  @include phones {
    padding: 21px 36px;
  }
  
}
.hero__button {
  display: flex;
  
}
.button--color--yellow {
  background: #FEDB3F;
  color: #000000;

  &:hover {
    background: #000000;
    color: #FEDB3F;
    transition: 0.6s;
  }
}

.button--color--transparent {
font-size: rem(18px);
font-weight: 400;
color: white;
text-transform: none;
background: none;
padding: rem(21px) rem(20px);

@include tablets {
  padding: rem(21px) rem(24px);
}
&:hover {
  color: $mustard;
  transition: 0.6s;

}
}

.button--color--mustard {
background: $mustard;
&:hover {
  background: #000000;
  color: $mustard;
  transition: 0.6s;
}
}

.form__buttons .button  {

  @include tablets {
  margin-right: rem(15px);

  &:last-child {
    margin-right: 0;
  }}
}