.contacts {
  font-size: 21px;
  font-weight: 400;
  color: $black;
  font-style: normal;

  @include phones {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9px;
  }
}

.phone-number {
  font-size: rem(22px);
  text-decoration: none;
  display: flex;
  align-items: center;

  &__text {
    white-space: nowrap;
  }

  @include phones {
    
  }
  }
  
  .phone-number__img {
    width: rem(13px);
    height: rem(13px);
    margin-right: rem(6px);

  }
  
  .phone-number__icon {
    flex-shrink: 0;
    margin-right: 7px;
  }

  .contacts__text {
  
    @include phones {
      margin-bottom: rem(12px);
    }
  }