.features {
  display: flex;
  
  @include tablets {
    display: none;
  }
}

.features__list {
  display: flex;
  justify-content: space-between;
}
.features__item {
  margin-right: 33px;

  &:last-child {
    margin-right: 0;
  }
}