.footer {
  background: white;
  margin-top: auto;
  display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 93px;
    position: absolute;
    bottom: 0;

    @include phones {
      height: 151px;
    }

    @include phones440 {
      height: 151px;
    }

    &__col {
      display: flex;
    align-items: center;
}
    }

    .footer__container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include phones {
        flex-direction: column;
        
        justify-content: center;
      }
      @include phones440 {
        padding: 0;
      }

    }

    .phone-icon {
      width: 13px;
      height: 13px;
      
    
    }

   
