.form__controls {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: rem(18px);

  &:last-child {
    margin-bottom: 0;
  }
}

.form__controls-container {
margin-top: rem(31px);
margin-bottom: rem(46px);
}