

.overlay__button-open {
  display: none;
  width: 26px;
  height: 24px;
  
  position: fixed;
  top: 5%;
  right: 5%;
  cursor: pointer;
  
  

  @include tablets {
    display: block;
    top: 5%;
    right: 3%;
  }

  @include phones {
    display: block;
    right: 3%;
    top: 4.5%;
  }
  @include phones440 {
    display: block;
    top: 3%;
    right: 3%;
  }

}

.overlay__button-Xicon {
  display: none;
  opacity: 90%;
  position: fixed;
  top: 4%;
  right: 5%;
  cursor: pointer;

  @include tablets {
 
    top: 6%;
  }

  @include phones {
    
    right: 3%;
    top: 6%;
  }
  @include phones440 {
   
    top: 4%;
        right: 3%;
  }
}




.overlay-menu {

visibility: hidden;
opacity: 0;
transition: 0.4s;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  background-color: #313131;
  padding-top: rem(135px);
  transition: 0.4s;
  
  text-align: center;
  color: #FFFFFF;
  font-size: rem(36px);
  font-weight: 400;

  
}

.showMenu {
  visibility: visible;
  opacity: 100%;
  transition: 0.4s;
} 
.overlay-menu__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.overlay-menu__item {
  display: flex;
  
  margin-bottom: rem(20px);
  justify-content: center;

  &:last-child {
    margin-bottom: 0;
  }
}



.overlay__icon {
width: 26px;
height: 24px;
fill: #fff;

}

.overlay__icon-cross {
  fill: #FFFFFF;
  width: 20px;
  height: 20px;
  
}



