.hamburger {
  width: 26px;
  height: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 3%;
  right: 5%;

  @include tablets {
    display: inline-flex;
  }

  @include phones {
    right: 3%;
  }
  @include phones440 {
    top: 2%;
        right: 3%;
  }

}

.hamburger__line {
  display: block;
  background: #fff;
  height: 4px;
  border-radius: 10px;
}