.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 1%;

 @include tablets {
   background: #1968B1;
   padding: 0 3%;
   height: rem(91px);
   align-items: center;
 }
 @include phones {
  background: #1968B1;
  padding: 0 3%;
  height: rem(91px);
   align-items: center;
}

@include phones440 {
  background: #1968B1;
  padding: 0 3%;
  height: rem(91px);
   align-items: center;
}
  
}

.header .header__phone-number {
  @include tablets {
    display: none;
  }
}

.header .phone-number__icon {
  fill: white;
}