.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

 
  
}

.header .header__phone-number {
  @include tablets {
    display: none;
  }
}

.header .phone-number__icon {
  fill: white;
}