.player {
  position: relative;
  display: block;
  
  width: 100%;
  height: 100%;
  
 
  &.active .player__splash {
    display: none;
  }
  

  /*&.paused {
    .player__start {
     

      &:after, &:before {
        content: "";
        display: block;
        width: rem(5px);
        height: rem(16px);
        position: absolute;
        top: 11;
        bottom: 0;
        background: #fff;
      }

      &:after {
        left: 15;
      }

      &:before {
        left: 23;
      }
    }
  }
*/
}
.player__splash {
  position: absolute;
  top: 33%;
  left: 44%;
  cursor: pointer;
  
}

.player__controls {
position: absolute;
right: 0;
bottom: 0;
left: 0;
height: rem(36px);
background: #404040;
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 rem(10px);
width: 100%;
}


.vol-icon {
  width: rem(13px);
  height: rem(16px);
  fill: #fff;

}



.player__icon {
  width: rem(11px);
  height: rem(16px);
  fill: #fff;
}

.player__volume-icon {

margin-right: rem(24px);

width: rem(13px);
height: rem(16px);
}

.volume-line-icon {
  fill: #626262;
  width: rem(62px);
  height: rem(4px);
 

}


.volume-reg-icon {
  fill: 
  #626262;
  width: rem(14px);
  height: rem(14px);

 
}



.player__volume-level {
  position: relative;
  width: rem(58px);
  height: rem(4px); 

  &::before {
    display: block;
    content: "";
   
    height: rem(4px);
    
    background: #626262;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);

  }
}

.player__volume-reg {
 
  position: absolute;    
  left:0%;
  background: 
  #FEDB3F;
  border-radius: rem(50px);
  border: none;
  width: rem(14px);
  height: rem(14px);
  padding: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  
}

.player__section-container {
  display: flex;
  margin: 0 auto;
  width: 662px;

  

  /*@include tablets {
    width: 594px;
  }

  @include phones {
    width: 394px;
  }*/

 
}

.player__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pb-icon {
  fill: #FEDB3F;
  height: rem(7px);
  width: rem(447px);
}

.player__progressBar {
position: relative;
cursor: pointer;
width: rem(446px);
height: rem(6px);

&::before {
          display: block;
          content: "";
         
          height: rem(4px);
          
          background: #626262;
          position: absolute;
          top: 50%;
          left: 0;
          right: 0;
          transform: translateY(-50%);
         }
       }

       /*.player__progressBar-icon {
         width: 100%;
         height: rem(7px);
         width: rem(446px);

         
       }*/

       .player__progressBar-reg {
         position: absolute;
        
         left: 0;

         background: 
         #FEDB3F;
         border-radius: rem(50px);
         border: none;
         width: rem(14px);
         height: rem(14px);
         padding: 0;
         top: 50%;
         transform: translate(-50%, -50%);
         cursor: pointer;
       }

       .progress-icon {
        fill: #FEDB3F;
        width: rem(15px);
        height: rem(15px);
       }

       


       .player__volume {
         display: flex;
         justify-content: space-between;
         align-items: center;

         position: relative;
     
      align-items: center;
  
      
        overflow:hidden;
        cursor: pointer;
       }
       .player__start {
         width: rem(11px);
         height: rem(16px);
       }

       /*.player__pause {

       }*/

       .splash-icon {
         width: rem(76px);
         height: rem(110px);
         fill: #fff;
       }

