.products-section {
  background: #F8FAF9;
}

.product {
  display: flex;
}

.product__icon {
  fill: #ECECEC;
  width: rem(397px);
  height: rem(379px);
  
}
.product__imageBlock {
  width: 45%;
  margin-right: 5%;
  overflow: hidden
}

.product__textBlock {
  flex: 1;
}

.product__container {
  display: flex;
  position: relative;
}

.product__imageBlock-front {
position: absolute;
top: -3%;
left: 1%;

}

.product__imageBlock-back {
  position: relative;
  padding-top: 21%;
}
.arrow-icon {
  height: rem(27px);
  width: rem(13px);
}


.product__subtitle-txt {
color: $black;
font-weight: 700;
font-size: rem(36px);
text-transform: uppercase;  }

.product__subtitle {
  margin-bottom: rem(17px);
}

.product__desc-txt {
  margin-bottom: rem(12px);
}

.product__price {
  display: flex;
  
  
}

.product__properties {
  display: flex;
 
  margin-bottom: rem(10px);

}

.product__button {
margin-top: rem(25px);
}

.product__properties-bottom {
  color: $black;
  font-weight: 700;
}

.product__properties-left {
  margin-right: rem(55px);
}

.product__price-tag {
  font-size: rem(60px);
  font-weight: 300;
  color: $black;
  margin-right: rem(60px);
}

.product__dropdown {
  width: rem(91px);
    height: rem(91px);
    position: relative;
    background: #3A587E;
    border-radius: 3%;
    overflow: hidden;
    margin-bottom: rem(49px);
    position: relative;
    cursor: pointer;
}

.dropdown:hover .dropdown__menu {
  left: 0;
  opacity: 1;
}
.dropdown__icon {
  position: absolute;
  top: 17%;
  left: 30%;
}

.products-slider__arrow--prev {
  z-index: 100;
  position: absolute;
  top: 49%;
    left: -9%;
}

.products-slider__arrow--next {
  z-index: 100;
  position: absolute;
  top: 49%;
    right: 5%;
}

.products__section {
  position: relative;
}

.product__desc {
  width: 80%;
}

.dropdown__txt {
  font-size: rem(14px);
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  left: 7%;
  top: 70%;
  position: absolute;
}

.coord-icon {
  fill: white;
  width: rem(38px);
  height: rem(38px);
}
